[Unit]
Description=MinIO
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/sbin/minio

[Service]
WorkingDirectory={{ minio_volume }}{{ item }}
EnvironmentFile=/etc/default/minio-tenant-{{ item }}.env

User=minio
Group=minio

ExecStart=/usr/sbin/minio server --address :900{{ item }} {{ minio_parameters.results[item|int-1]["stdout"]}}

# Let systemd restart this service always
Restart=always

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
